/* Navigation bar */

.myNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-decoration: none;
    width: 100%;
    top: 0;
    position: fixed;
    
}

.myNav li {
    float: left;
    border-right: 1px solid white;
    text-decoration: none;
}

.myNav li:last-child {
    border-right: none;
}

.myNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.myNav li a:hover:not(.active) {
    background-color: grey;
    color: white;
    text-decoration: none;
}

.myNav li a.active {
    background-color: cornflowerblue;
}

/* Footer */

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 250px;
}
  
.myFooter {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footerText {
    font-size: 10px;
}

/* Table Aesthetics */

.mountain td, .mountain th {
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* Page Aesthetics */

.header {
    padding: 20px;
    background-color: rgb(120, 190, 192);
    margin-top: 50px;
}

.buffer {
    padding-left: 20px;
}

/* Login/Register Aesthetics */

.signin {
    padding-top: 150px;
    text-align: center;
  
}

.register {
    padding: 20px;
    margin-top: 50px;
}