{% extends 'main/layout.html' %}

{% block title %}
Add Mountains
{% endblock %}

{% block content %}

<div class="header">
    <h1>
        Hello, {{climber.climber_name}}!
    </h1>


    <h6>
        Add up to five ascents using the drop down menus.
    </h6>

</div>

<br>

<div class="buffer">
    <form action="" method="POST">

        {% csrf_token %}
        {{ form.management_form }}
        {{ formset.as_p }}


        <input type="submit" name="Add Ascents">
    </form>
</div>

{% endblock %}