{% extends 'main/layout.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<h1>Climber Profile</h1>

<!-- How to use database of many to many to display data-->

<h3>Name: {{climber.climber_name}}</h3>

{% if climber.user == request.user%}
    <form>
        <a href="{% url 'main:add_ascents' climber.id %}">Add Ascents</a>
    </form>
{% endif %}

<br>

<p>
    <h4>Mountains Climbed</h4>
</p>

<table class="mountain">
    <tr>
        <th>Mountains Name</th>
        <th>Elevation</th>
        <th>Range</th>
    </tr>
        {% for mountain in climber.mountains.all %}
            <tr>
                <td>
                    {{mountain.mountain_name}}
                </td>
                <td>
                    {{mountain.mountain_height}}
                </td>
                <td>
                    {{mountain.mountain_range}}
                </td>
            </tr>
        {% endfor %}
</table>


{% endblock %}