{% extends 'main/layout.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
<h1>Welcome {{request.user.first_name}}!</h1>

<br>

<h3>You can now add ascents of Colorados beautiful 14ers to your personal check list</h3>

<br>

<h4>
    Use the navigation bar above or the links below to:
</h4>

<hr>

<ul style="font-size: 20px;">
    <li>View your personal <a href="{% url 'main:climber' request.user.climber.id %}">climber profile</a> 
        where you can see all the ascents you have done so far 
        and <a href="{% url 'main:add_ascents' request.user.climber.id %}">add ascents</a>!</li>

    <br>

    <li>View all the <a href="{% url 'main:mountains' %}">14ers</a> that Colorado has to offer and view who else has reached the summit!</li>
</ul>

{% endblock %}