{% extends 'main/layout.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<h2>Congrats on logging in {{request.user.first_name}}!</h2>

List of things to do on this site:
<ul>
    <li>Create new model for climber input</li>
        <ul>
            <li>Need to make climbed user specific</li>
            <li>add date climbed to database for user entry</li>
        </ul>
    <li>add mountain class for difficulty?</li>
    <li>Change mountain page</li>
        <ul>
            <li>add a radio button/box select button for climbed peaks</li>
            <li>have button change to remove if mountain has been climbed</li>
            <li>sort by peaks climbed/not climbed</li>
            <li>add a total mountains climbed counter</li>
        </ul>
</ul>

<!--Testing url links-->

<p>
    <a href="{% url 'main:mountains' %}">Mountains Page</a>
</p>
<p>

</p>
{% endblock %}