{% extends 'main/layout.html' %}

{% block title %}
Mountains
{% endblock %}

{% block content %}
<h1>Mountain Page</h1>
<h6>Click on mountain names to view who has climbed them!</h6>

<br>

<p>
    <table class="mountain">
        <tr>
            <th>Moutain Name</th>
            <th>Elevation</th>
            <th>Mountain Range</th>
        </tr>
        {% for mountain in mountains %}
            <tr>
                <td>
                    <a href="{% url 'main:mt' mountain.mountain_name %}">{{ mountain.mountain_name }}</a>
                </td>
                <td>{{ mountain.mountain_height }}</td>
                <td>{{ mountain.mountain_range }}</td>
            </tr>
        {% endfor %}
    </table>
</p>

{% endblock %}