{% extends 'main/layout.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="header">
    <div style="font-size: 72px;" >
        {{mountain.mountain_name}}
    </div>
    <h3>
        Elevation: {{mountain.mountain_height}}
        <br>
        Range: {{mountain.mountain_range}}
    </h3>

<form>
    <a href="{% url 'main:add_ascents' request.user.climber.id %}" style="color: black;">Add Ascent</a>
</form>

</div>

<br>

<div class="buffer">

    <p>
        <h4>Total Summits of {{mountain.mountain_name}}: {{mountain.climbers.count}}</h4>
    </p>


    <table class="mountain">
        {% for climber in mountain.climbers.all %}
            <tr>
                <td style="font-size: 24px;">
                    <a href="{% url 'main:climber' climber.id %}">{{climber.climber_name}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}